
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family:Cooper Hewitt, Helvetica, sans-serif;
}

.logo-header {
    width: 80px;
}

.video{
    z-index:5;
}

video {
    width: 80%;
    height: 100%;
    opacity: 0.3;
}

.absolute {
    position: absolute;
    left: 30%;
    right: 0;
    bottom: 0;
    top: 40%;
}

.clean-block.clean-hero {
    position: relative;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 0;
}

.clean-block.clean-hero.text {
    max-width: 640px;
    color: #fff;
    z-index: 6;
    padding: 40px 15px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.15);
}

.logo-text {
    width: 200px;
}

.promo {
    text-align:center;
    padding:100px;
    background-image:url(../../assets/img/_MG_0236.jpg);
    background-size:cover;
    height:800px;
}

.promo .jumbotron {
    border-radius:37px;
    padding:61px;
    margin:104px auto;
    background-color:rgba(255,255,255,0.6);
    max-width:800px;
}

@media (min-width: 300px) {
    .promo .jumbotron {
        padding:19px;
    }
}

.container.site-section-one {
    text-align:center;
    font-size:21px;
    padding:47px;
    margin:65px auto;
}

.col-md-12 {
    text-align:center;
    padding:4%;
}

.col-md-4 {
    text-align:center;
    font-size:22px;
}

.dark-div {
    background-color:rgba(210,186,144,0.49);
    height:600px;
}

.footer-clean {
    background-color:#335545;
    color:white;
}

.container.site-section-two {
    padding-top:58px;
    font-size:21px;
    text-align:center;
}

.fa.fa-pagelines {
    color:rgb(89,111,90);
}

.site-section-two h2 {
    padding:37px 37px 37px 0px;
}
